/* ================================================== */
/* ================================================== */

/* ================================ */
    /* *BREAKPOINT'S */
/* =============================== */


/* Extra pequeno (XS) - menor que 576px */
@media (max-width: 575.98px) { }

/* Pequeno (SM) - ≥576px */
@media (min-width: 576px) { }

/* Médio (MD) - ≥768px */
@media (min-width: 768px) { }

/* Grande (LG) - ≥992px */
@media (min-width: 992px) { }

/* Extra grande (XL) - ≥1200px */
@media (min-width: 1200px) { }

/* Extra extra grande (XXL) - ≥1400px */
@media (min-width: 1400px) { }


/* ================================================== */
/* ================================================== */