/* ================================================== */
/* ================================================== */

/* ================================ */
    /* *BREAKPOINT'S */
/* =============================== */


/* Extra pequeno (XS) - menor que 576px */
@media (max-width: 700.98px){
    .container{
        margin: 0rem;
        flex-direction: column;
    }

    .content-left::before{
        display: none;
    }

    .content-avatar{
        flex-direction: column;
    }
}



/* Médio (MD) - ≥768px */
@media (min-width: 700px) { 

    .container{
        margin: 3rem;
    }

    .content-left{
        padding: 1.5rem;
        
    }

    .content-left::before{
        height: 94%;
    }
}

/* ================================================== */
/* ================================================== */