/* ================================================== */
/* ================================================== */

/* ================================ */
    /* *GOOGLE FONT'S */
/* =============================== */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Cookie&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Forum&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rancho&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* ================================ */
    /* *RESET */
/* =============================== */
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: var(--white);
}

a{
    text-decoration: none;
}

body{
    background: var(--black);
}

ol, ul{
    list-style: none;
}
/* ================================ */
    /* *ROOT */
/* =============================== */
:root{

    /* *BASE COLOR */

    --white: #FFFFFF;
    --black: #000000;
    --black50: #111111;
    

    /* *BASE FONT FAMILY */
    --achirvo: "Archivo", sans-serif;
    --dmsans: "DM Sans", sans-serif;
    --forum: "Forum", sans-serif;
    --lato: "Lato", sans-serif;
    --jost: "Jost", sans-serif;
    --montserrat: "Montserrat", sans-serif;
    --opensans: "Open Sans", sans-serif;
    --poppins: "Poppins", sans-serif;
    --roboto: "Roboto", sans-serif;

    /* *BASE FONT SIZE */

    --title-h1: var(--fw600) 2.5rem/150% var(--dmsans);
    --title-h2: var(--fw400) 2.25rem/150% var(--dmsans);
    --title-h3: var(--fw500) 2rem/150% var(--dmsans);
    --title-h4: var(--fw600) 1.75rem/150% var(--dmsans);
    --title-h5: var(--fw600) 1.5rem/150% var(--dmsans);
    --text: var(--fw500) 1rem/175% var(--dmsans);
    --text-s: var(--fw500) .75rem/175% var(--dmsans);
    
    /* *BASE WEIGHT */
    --fw100: 100;
    --fw200: 200;
    --fw300: 300;
    --fw400: 400;
    --fw500: 500;
    --fw600: 600;
    --fw700: 700;
    --fw800: 800;
    --fw900: 900;
}


/* ================================================== */
/* ================================================== */


/* ================================================== */
/* * */
/* ================================================== */