/* ================================================== */
/* ================================================== */

/* ================================ */
    /* * CONTAINER*/
    .container{
        background: var(--black50);
        display: flex;
        margin: 5rem;
        border-radius: 1rem;
    }
/* =============================== */

/* ================================ */
    /* * CONTENT LEFT*/
    .content-left{
        flex: 1;
        padding: 1rem 0rem;
        position: relative;
        
    }

    .content-left::before{
        content: "";
        position: absolute;
        top: 1.75rem;
        right: 0;
        bottom: 0;
        width: 2px;
        height: 90%;
        background: var(--white);
        margin: 1rem 0rem;
        animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    
    /* * CONTENT AVATAR*/
    .content-avatar{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 1.5rem;
        
        & img{
            max-width: 100%;
            width: 350px;
            height: 350px;
            border-radius: 50%;
            object-fit: cover;
            animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }

        & h3{
            font: var(--title-h4);
            margin-top: 1rem;
            text-align: center;
        }
    }
    /* * CONTENT INFO*/
    .content-info{
        margin-top: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        width: 85%;
        margin-top: 2rem;
        
        & ul li{
            padding: 1rem 0rem;
        }
        
        & ul li i{
            font-size: 1.5rem;
            margin-right: 1rem;
        }
        
        & ul li span{
            font: var(--text);
        }
    }
    
    /* * CONTENT SOCIAL*/
    .content-social{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        width: 85%;

        & ul{
            display: flex;
        }

        & ul li{
            padding: 2rem 0rem;
            padding-inline: 1.5rem;
        }

        & ul li a i{
            font-size: 1.5rem;
            color: var(--white);
        }
        
        & ul li a:hover{
            animation: text-shadow-drop-center both 0.4s;
        }
    }
    /* =============================== */
    
    /* ================================ */
    /* * CONTENT RIGHT*/
    .content-right{
        flex: 2;
        /* border: 1px solid var(--white); */
        padding: 2rem;
        
        
        
    }
    /* * CONTENT ABOUT*/
    .content-about{

        & h2{
            font: var(--title-h1);
            margin-bottom: 1rem;
        }

        & p{
            font: var(--text);
        }
    }
    /* =============================== */

/* ================================ */
    /* * */
/* =============================== */

/* ================================ */
    /* * */
/* =============================== */



/* ================================================== */
/* ================================================== */


/* ================================ */
/* * ANIMATION */

/* ----------------------------------------------
 * Generated by Animista on 2026-1-2 16:58:21
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-drop-center
 * ----------------------------------------
 */

@keyframes shadow-drop-center {
    0% {
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
    }

    100% {
        box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.35);
    }
}

@keyframes text-shadow-drop-center {
    0% {
        text-shadow: 0 0 0 rgba(255, 255, 255, 0);
    }

    100% {
        text-shadow: 0 0 18px rgba(255, 255, 255, 0.35);
    }
}

/* =============================== */

/* ================================ */
/* * */
/* =============================== */

/* ================================ */
/* * */
/* =============================== */

/* ================================ */
/* * */
/* =============================== */

/* ================================ */
/* * */
/* =============================== */



/* ================================================== */
/* ================================================== */