/* ================================================== */
/* ================================================== */

/* ================================ */
    /* * CONTAINER*/
    .container{
        background: var(--black50);
        margin: 3rem;
        border-radius: 1rem;
    }
/* =============================== */

/* ================================ */
    /* * CONTAINER FLEX*/
    .container-flex{
        display: flex;
        padding: 2rem;
    }
/* =============================== */

/* ================================ */
    /* * CONTENT LEFT*/
    .content-left{
        border-right: 2px solid var(--white);
        padding: 2rem 2rem 2rem 0rem;
    }


    /* * CONTENT AVATAR*/
    
    .content-avatar{
        
        & img{
            max-width: 100%;
            width: 350px;
            height: 350px;
            border-radius: 50%;
            object-fit: cover;
            animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            
        }
        
        & h3{
            font: var(--title-h4);
            margin-top: 1.5rem;
        }
    }


    /* * BOX INFORMATION*/
    
    .box-information{
        margin-top: 2rem;
        
        & ul li{
            padding: 1rem 0rem;
        }
        
        & ul li i{
            margin-right: 1rem;
            font-size: 1.25rem;
        }

        & ul li span{
            font: var(--text);
        }
    }

    /* * BOX SOCIAL*/
    .box-social{
        margin-top: 2rem;
        
        & ul {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        & ul li a{
            padding-inline: 1.35rem;
            font-size: 1.5rem;
            color: var(--white);
        }
        
        & ul li a:hover{
            animation: text-shadow-drop-center both 0.4s;
            font-size: 1.55rem;
            transition: all 0.6s ease-in-out;
        }

        
        }
        
    /* =============================== */
    
    /* ================================ */
    /* * CONTENT RIGHT*/
    /* =============================== */
    .content-right{
        flex: 2;
    }

/* ================================ */
    /* * */
/* =============================== */



/* ================================================== */
/* ================================================== */


/* ================================================== */
/* ================================================== */

/* ================================ */
    /* * ANIMATION */

/* ----------------------------------------------
 * Generated by Animista on 2026-1-2 16:58:21
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-drop-center
 * ----------------------------------------
 */

@keyframes shadow-drop-center {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.35);
  }
}

@keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 rgba(255, 255, 255, 0);
  }
  100% {
    text-shadow: 0 0 18px rgba(255, 255, 255, 0.35);
  }
}

/* =============================== */

/* ================================ */
    /* * */
/* =============================== */

/* ================================ */
    /* * */
/* =============================== */

/* ================================ */
    /* * */
/* =============================== */

/* ================================ */
    /* * */
/* =============================== */



/* ================================================== */
/* ================================================== */